@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
	position: relative;
	margin: 0 auto;
	background-color: #f1f1f1;
	max-width: 1100px;
	font-family: 'Roboto Condensed', sans-serif !important;
}

