@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
	position: relative;
	margin: 0 auto;
	background-color: #f8eded;
	max-width: 1100px;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
}

.head-navbar {
	margin-top: 0px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 27px;
	width: 100%;
	padding: 20px;
	background: #173b45;
	color: #f8eded;
	height: 100px;

	h1 {
		font-size: 34px !important;
		font-weight: 700;
	}

	p {
		font-size: 20px !important;
	}
}

.panel {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 5px;
	.panel-login {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}

.you-log {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background-color: #004225;
	color: #f5f5dc;
	padding: 10px;
}

.btn-login,
.btn-reg,
.log-out-btn {
	display: flex;
	align-items: center;
	padding: 5px;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	border: 3px solid;
	margin: 10px;
	font-size: 16px;
	font-weight: 100;
	-webkit-box-shadow: 2px 2px 0px 1px #173b45;
	-moz-box-shadow: 2px 2px 0px 1px #173b45;
	box-shadow: 2px 2px 0px 1px #173b45;
	cursor: pointer;
	transition: all 0.4s;
}

.btn-login:hover {
	color: #f8eded;
	background-color: #173b45;
	-webkit-box-shadow: 2px 2px 0px 1px #f8eded;
	-moz-box-shadow: 2px 2px 0px 1px #f8eded;
	box-shadow: 2px 2px 0px 1px #f8eded;
	border: 3px solid #173b45;
}

.btn-reg:hover {
	color: #f8eded;
	background-color: #173b45;
	-webkit-box-shadow: 2px 2px 0px 1px #f8eded;
	-moz-box-shadow: 2px 2px 0px 1px #f8eded;
	box-shadow: 2px 2px 0px 1px #f8eded;
	border: 3px solid #173b45;
}

.log-out-btn:hover {
	color: #f8eded;
	background-color: #173b45;
	-webkit-box-shadow: 2px 2px 0px 1px #f8eded;
	-moz-box-shadow: 2px 2px 0px 1px #f8eded;
	box-shadow: 2px 2px 0px 1px #f8eded;
	border: 3px solid #173b45;
}

.panel-button {
	display: none;
}

.history-chat {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	box-shadow: 0px 0px 2px #000000;

	ul {
		li {
			list-style: none;
			cursor: pointer;
		}
	}

	h2 {
		font-size: 22px;
		margin-bottom: 5px;
	}
}

.box-search {
	padding: 10px;
	box-shadow: 0px 0px 2px #000000;

	ul {
		li {
			list-style: none;
		}
	}

	input {
		width: 140px;
	}
	.search-btn {
		// display: flex;
		// align-items: center;
		padding: 5px;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
		border: 3px solid #173b45;
		margin: 10px;
		font-size: 16px;
		font-weight: 100;
		-webkit-box-shadow: 2px 2px 0px 1px #173b45;
		-moz-box-shadow: 2px 2px 0px 1px #173b45;
		box-shadow: 2px 2px 0px 1px #173b45;
		cursor: pointer;
		transition: all .4s;
	}
	.search-btn:hover {
		color: #f8eded;
	background-color: #173b45;
	-webkit-box-shadow: 2px 2px 0px 1px #f8eded;
	-moz-box-shadow: 2px 2px 0px 1px #f8eded;
	box-shadow: 2px 2px 0px 1px #f8eded;
	border: 3px solid #173b45;
	}
}

.content-league {
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Roboto Condensed', sans-serif;

	h1 {
		display: flex;
		align-items: center;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		.icon-sport {
			width: 27px;
			margin-right: 5px;
		}
	}

	.choose-time {
		display: flex;
		gap: 20px;
		.pre-match-p {
			margin-top: 15px;
			color: black;
			font-size: 17px;
			font-style: italic;
			text-decoration: none;
			cursor: pointer;
		}
		.active-section {
			text-decoration: underline;
		}
	}

	.chat-content {
		box-shadow: 0px 0px 2px #000000;
		margin-top: 12px;
		padding: 20px;
		cursor: pointer;

		.chat-public {
			margin-top: 20px;
			padding: 10px;
			background: #173b45;
			color: #f8eded;
		}

		.match-name {
			display: flex;
			align-items: center;
			font-weight: 700;

			span {
				font-size: 12px;
			}
		}
	}

	.chat-content:hover {
		background-color: #d7d1d1;
	}

	.send-public-chat {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;

		input {
			padding: 10px;
			border: 2px solid #004225;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 11px;
			border: 2px solid #004225;
			cursor: pointer;
			-webkit-box-shadow: 5px 5px 0px 1px #004225;
			-moz-box-shadow: 5px 5px 0px 1px #004225;
			box-shadow: 5px 5px 0px 1px #004225;
			font-weight: 700;
		}
		button:hover {
			background-color: #173b45;
			color: #f8eded;
			border: 2px solid #f8eded;
		}
	}
	div {
		.league-header {
			font-size: 17px;
			margin-top: 30px;
		}
	}
}

.must-be-login {
	padding: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
	// margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;

	.sport-category {
		width: 300px;
		margin-top: 15px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0px 0px 2px #000000;
		padding: 7px;
		cursor: pointer;
		transition: all 0.4s;
		.sport-name {
			display: flex;
			align-items: center;
			.icon-sport {
				width: 27px;
				margin-right: 5px;
			}
		}
		.country-league {
			margin: 12px;
			margin-left: 20px;
			li {
				display: flex;
				align-items: center;
				.icon-country {
					margin-right: 5px;
					width: 27px;
				}
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}

	.sport-category:hover {
		background-color: #d7d1d1;
	}
}

.messages-container {
	max-height: 450px;
	overflow-y: auto;
	color: #f8eded;

	.message-one {
		padding: 2px;
	}
}

.private-content-chat {
	background-color: #173b45;
	padding: 20px;

	.send-public-chat {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;

		input {
			padding: 10px;
			border: 2px solid #004225;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 11px;
			border: 2px solid #004225;
			cursor: pointer;
			-webkit-box-shadow: 5px 5px 0px 1px #004225;
			-moz-box-shadow: 5px 5px 0px 1px #004225;
			box-shadow: 5px 5px 0px 1px #004225;
			font-weight: 700;
		}
		button:hover {
			background-color: #173b45;
			color: #f8eded;
			border: 2px solid #f8eded;
		}
	}
}

.sport-name {
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: black;
	}
}

.search-input {
	margin-top: 20px;
	margin-left: -4px;
	min-width: 250px;
}

.languageswitchers {
	position: absolute;
	top: 2px;
	right: 5px;
	.buttonlng {
		background: transparent;
		border: none;
		margin: 7px;
		transition: all 0.4s;
		.languageimg {
			width: 15px;
			cursor: pointer;
		}
	}
	.buttonlng:hover {
		transform: scale(1.5);
	}
}

@media (min-width: 200px) {
	.panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 5px;
		.panel-login {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}

@media (max-width: 900px) {
	.you-log {
		display: none;
	}
	.panel-button {
		display: flex;
		align-items: center;
		padding: 5px;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
		border: 3px solid #173b45;
		margin: 10px;
		font-size: 16px;
		font-weight: 100;
		-webkit-box-shadow: 2px 2px 0px 1px #173b45;
		-moz-box-shadow: 2px 2px 0px 1px #173b45;
		box-shadow: 2px 2px 0px 1px #173b45;
		cursor: pointer;
	}
	.btn-login, .btn-reg, .log-out-btn {
		width: 280px;
		justify-content: center;
	}
	
}

@media (min-width: 900px) {
	.panel {
		position: absolute;
		right: 0;
		width: 300px;
	}
	.panel {
		align-items: end;
	}
	// .content {
	//     margin-left: 325px;
	// }
	// .content {
	// 	position: absolute;
	// }
	.content-league {
		margin-right: 290px;
	}
	.content {
		align-items: start;
		margin-left: 20px;
	}
}


/* 🔹 Ukryj panel logowania dla ekranów mobilnych */
@media (max-width: 900px) {
	.panel {
	  display: none;
	}
  
	/* 🔹 Stylizacja ikony menu hamburgerowego */
	.mobile-menu {
	  display: flex;
	  justify-content: flex-end;
	  padding: 10px;
	  position: fixed;
	  bottom: 8px;
	  right: 8px;
	  z-index: 10000;
	  background-color: #173b45;
	  border-radius: 25px;
	  -webkit-box-shadow: 2px 1px 15px -7px rgba(23, 59, 69, 1);
-moz-box-shadow: 2px 1px 15px -7px rgba(23, 59, 69, 1);
box-shadow: 2px 1px 15px -7px rgba(23, 59, 69, 1);
	}
  
	.menu-icon {
	  width: 40px;
	  cursor: pointer;
	}
  
	/* 🔹 Stylizacja rozwijanego menu */
	.mobile-dropdown {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  background-color: #f8eded; /* Kolor tła */
	  padding: 15px;
	  position: fixed;
	  width: 100%;
	  margin-top: -100px;
	  height: 100%;
	  left: 0;
	  z-index: 100;
	}
  
  
	/* Stylizacja panelu użytkownika w menu mobilnym */
  }

  @media (min-width: 900px) {
	.mobile-menu {
		display: none
	}
  }
  
  .all {
	height: 100vh;
  }